/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0|20110126 License:none (public domain) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, label, select, button,textarea {
	margin: 0;
	padding: 0;
	border: 0;
    background:none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/***** Param du site *****/
:root{
    --virgin-bg-color: white;
    --subtext-color:#333;
    --primary-color: #0065fc;
    --border-color:#d9d9d9;
    --bg-color:#F2F2F2;
    --wrapIcon-color:#deebff;
    --font:"Raleway", "sans-serif";
    --maxW: 1440px;
}

/***** Param de la page *****/
body{
    font-family:var(--font);
    background-color:var(--virgin-bg-color);
    box-sizing: border-box;
}
.wrap{
    max-width: var(--maxW);
}
.container{
    margin: auto;
    padding: 0 2rem;
}

/*================*/
/*    NEW-MENU    */
/*================*/
.menu{
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . nav sign";
}
.navbar{
    display: flex;
    text-align: center;
    grid-area: nav;
}
.navlink{
    padding: 2rem;
    font-weight: 500;
    border-top: 3px transparent solid;
    transition-duration: 0.1s;
}
.navlink:hover{
    border-top: 3px var(--primary-color) solid;
    color: var(--primary-color);
}
.sign{
    display: flex;
    grid-area: sign;
    text-align: center;
    padding: 2rem;
    color: var(--primary-color);
    font-weight: 600;
}

/********   Search  **********/
.search{
    display:block;
}
.searchHeader{
    margin: 1rem 0;
}
.searchTitle{
    margin-bottom: 0.5rem;
    font-weight: bolder;
    font-size: 2rem;
}
.searchSubtitle{
    /* font-size: 1.5vmax; */
    color:var(--subtext-color);
}

/*****  Barre de recherche  ****/
.searchform{
    display: inline-flex;
    max-width: var(--maxW);
    overflow: auto;
}
.searchicon{
    padding: 1rem 1.5rem;
    border-radius: 10px 0 0 10px;
    background:var(--bg-color);
}
.searchfield{
    font-weight: 600;
    padding: 15px 0;
}
.inputfield{
    padding: 12px;
    border: 1px solid var(--bg-color);
    margin-left: -6px;
}
.searchbtn{
    padding: 14.5px 13px 14.5px 13px;
    border-radius: 0 10px 10px 0;
    color: var(--virgin-bg-color);
    background-color: var(--primary-color);margin-left: -6px;
}

/***** Zone de filtres ******/
.searchFilters{
    display: flex;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.filtersTitle{
    display: flex;
    margin-right: 1rem;
    align-items: center;
    font-weight: bold;
}

.filtersButton{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    border: 2px solid var(--border-color);
    background-color: var(--virgin-bg-color);
    border-radius: 2rem;
    font-weight: bold;
}
.filtersWrapTitle{
    margin: 0 1rem;
}
.filtersButton .filterWrapIcon{
    display: flex;
    border-radius: 50%;
    background-color: var(--wrapIcon-color);
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: var(--primary-color);
}
/******** Texte information sur les résultats *******/
.searchResult{
    display: flex;
    margin: 1rem 1rem;
}
.ResultWrapIcon{
    font-size: 13px;
    display: flex;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    background-color: var(--virgin-bg-color);
    height: 1.5rem;
    width: 1.5rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: var(--primary-color);
}
.restultText{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: var(--maxW);
    margin: auto;
}
.main{
    display: grid;    
    box-sizing: border-box;
    grid-template-columns: 70% 30%;
    grid-gap: 2rem;
}
.host{
    display: grid;
    background-color: var(--bg-color);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    border-radius: 1.25rem ;
    padding: 1.5rem;
}
.headertitle{
    grid-column:1/-1;
    padding:10px;
    font-weight: bold;
}
.hostcard{
    background-color: var(--bg-color);
    padding: 0.375rem;
    border-radius:1.25rem;
    box-shadow:0 0 16px #0000002e;
    transition-duration:0.1s;
    cursor:pointer;
    box-sizing:border-box;
    height:100%;
}
.hostfigure{
    margin: auto;
}
.hostimage{
    height: 7rem;
    object-fit:cover;
    width:100%;
    border-radius: 1rem 1rem 0 0;
}
.name, .tarif{
    font-weight: bold;
}
.description{
    font-weight: 100;
}

.staricon[data-active="true"]{
    color: #0065FC;
}
.staricon[data-active="false"]{
    color:#d9d9d9;
}
.more{
    grid-column:1/-1;
    padding:10px;
    font-weight: bold;
}

/*=================================================*/
/*                 NEW VERSION END                 */
/*=================================================*/

/******** Hosts ********/
.headertitle{
    display: flex;
    grid-column: 1/-1;
    justify-content: space-between;
}
.card{
    background-color: var(--virgin-bg-color);
    padding: 0.175rem;
    border-radius: 1.25rem ;
    box-sizing: border-box;
    text-align: center;
}
.card img{
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height:100%;
    border-radius: 1rem 1rem 0 0;
}
/******* Fame  *******/
.popular{
    display: grid;
    background-color: var(--bg-color);
    grid-template-rows:repeat(4, 1fr);
    border-radius:1.25rem;
    column-gap: 1rem;
    row-gap: 1rem;
}
.pop{
    background-color: white;
    padding: 0.375rem;
    border-radius:1.25rem;
    box-shadow:0 0 16px #0000002e;
    transition-duration:0.1s;
    cursor:pointer;
    box-sizing:border-box;
    height:100%;
}
.pop:hover{
    transform: scale(1.01);
}
.popcard{
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}
.popularimage{
      position: relative;
      min-height: 100%;
      width: 33%;
      min-width: 33%;
      max-width: 33%;
}
.popularimg{
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.popularcontent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text{
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
/******** activities ********/
/* .activities{
    display: flex;
    max-width: 80%;
    background-color: springgreen;
}
.activitiesThumb img{
    height: 7rem;
    object-fit: contain;
    max-width: 100%;
    width: 100%;
    max-height:100%;
    border-radius: 1rem 1rem 0 0;
} */

/********* Foot *********/
.footer{
    background-color: var(--bg-color);
}



/* Mémo Couleurs :
  #f2f2f2 pour le gris clair
  #0065fc pour le bleu des étoiles
*/


@media screen and (max-width: 700px){
    .hosts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px){
    .hosts{
        grid-template-columns: 1fr;
    }
}
